<mat-card>
  <mat-card-title>FUNDOO</mat-card-title>
  <b>Reset Password</b>
  <mat-card-content>
    <form ngSubmit="submit">

      <div>
        <mat-form-field appearance="outline">
          <input matInput placeholder="Password" type="password" name="password" [formControl]="password" required>
        </mat-form-field>
      </div>
      <mat-form-field>
        <mat-form-field appearance="outline">
          <input matInput placeholder="Confirm Password" type="password" name="confirmPassword"
            [formControl]="confirmPassword" required>
        </mat-form-field>
      </mat-form-field>

      <div class="button">
        <button class="button" (click)="resetPassword()" type="submit" mat-button>Submit</button>
      </div>
      {{error}}
      <p><a routerLink="/register">New user? Sign-in here</a></p>


    </form>
  </mat-card-content>
</mat-card>
