<div class="dialogg">
  <div fxLayout="row" fxLayoutAlign="start center">
    <span style="font-size:large; font-family: inherit">Collaborators</span>
  </div>
  <mat-divider></mat-divider>
  <div style="height:64px" fxLayout="row" fxLayoutAlign="start center">
    <div>
      <img mat-card-avatar src={{profilePic}} />
    </div>
    <div>
      <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap=6px>
        <div>{{fname}}(owner){{email}}</div>
      </div>
    </div>
    <div *ngFor="let item of people">
      <div fxLayout="row" fxLayoutAlign="start center">
        
        <span>
          <button mat-mini-fab> {{ item._id.firstName| slice:0:1}}</button>
        </span>
        <span fxLayout="row" fxLayoutAlign="start start">
          {{item._id.firstName}}{{item._id.lastName}}
        </span>
        <div>
          <span style="width:2500px;">{{item._id.email}}</span><button mat-icon-button>
            <mat-icon (click)="removeColab(item._id.email)">clear</mat-icon>
          </button></div>
      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center">
      <div><span><input class="input" matInput placeholder="enter the email to collaborate" [formControl]="collabMail"
            required>
        </span><span> <button mat-icon-button (click)="collabEmail()">
            <mat-icon>done</mat-icon>
          </button></span>
      </div>
    </div>
    <div class="colab" fxLayout="row" fxLayoutAlign="end center">
      <button mat-button mat-dialog-close>Cancel</button>
    </div>
  </div>
