<!-- <div>
  <input class="title" type="text" value="{{onenote.title}}" [(ngModel)]="onenote.title" #title>
</div>
<div style="margin-top:13px;">
  <input class="title" type="text" value="{{onenote.description}}" [(ngModel)]="onenote.description" #description>
  <button mat-raised-button type="submit" class="btnClose"
    (click)="save(onenote._id,title.value,description.value)">close </button>
</div>
 -->



<div class="div">
  <mat-card class="border1">
      <div>
        <textarea matInput placeholder="Title" matTextareaAutosize class="input" name="title" value="{{onenote.title}}"
          [(ngModel)]="onenote.title" #title></textarea>
      </div>
      <div>
        <textarea matInput placeholder="Description" matTextareaAutosize class="input" name="description" value="{{onenote.description}}"
          [(ngModel)]="onenote.description" #description>
      </textarea>
      </div>
      <div>

        <button margin="14px" mat-icon-button fxHide.xs="true">
          <i class="material-icons">
            notifications_paused
          </i>
        </button>
        <button margin="14px" mat-icon-button fxHide.xs="true">
          <i class="material-icons">
            person_add
          </i>
        </button>
        <button margin="14px" mat-icon-button fxHide.xs="true" [matMenuTriggerFor]="colorlists">
          <i class="material-icons">
            color_lens
          </i>
        </button>

        <mat-menu #colorlists="matMenu" [overlapTrigger]="false">
          <form (keydown.tab)="$event.stopPropagation()">
            <ng-template matMenuContent class="matmenucontent">
              <div>
                <div fxLayout="row" fxLayoutGap="1px" style="margin-top: 1px" *ngFor="let colors of arrayOfColors">
                  <div *ngFor="let color of colors">
                    <button [ngStyle]="{ 'background-color': color.color }" (click)="setThisColor(color.color)"
                      matTooltip="{{ color.name }}" mat-mini-fab></button>
                  </div>
                </div>
              </div>
            </ng-template>
          </form>
        </mat-menu>
        <button margin="14px" mat-icon-button fxHide.xs="true">
          <i class="material-icons">
            crop_original
          </i>
        </button>
        <button margin="14px" mat-icon-button fxHide.xs="true">
          <i class="material-icons">
            archive
          </i>
        </button>
        <button margin="14px" mat-icon-button fxHide.xs="true" [matMenuTriggerFor]="menu">
          <i class="material-icons">
            more_vert
          </i>
        </button>
        <mat-menu #menu="matMenu" class="menuclass">
          <mat-list-item><button mat-button>Add label</button></mat-list-item>
          <mat-list-item><button mat-button>Add drawing</button></mat-list-item>
          <mat-list-item><button mat-button>Show checkboxes</button></mat-list-item>
        </mat-menu>
        <button margin="14px" mat-icon-button fxHide.xs="true">
          <i class="material-icons">
            undo
          </i>
        </button>
        <button margin="14px" mat-icon-button fxHide.xs="true">
          <i class="material-icons">
            redo
          </i>
        </button><button mat-button class="nav-button" (click)="save(onenote._id,title.value,description.value)">
          Close</button>
      </div>
  </mat-card>
</div>
