<div>
  <button margin="14px" mat-icon-button fxHide.xs="true" [matMenuTriggerFor]="calender">
    <i class="material-icons">
      notifications_paused
    </i>
  </button>

  <mat-menu #calender>
    <input matInput [matDatepicker]="picker" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <input type="time">
    
  </mat-menu>

  <button margin="14px" mat-icon-button fxHide.xs="true" (click)="CollabDialog()">
    <i class="material-icons">
      person_add
    </i>
  </button>
  <!-- <button margin="14px" mat-icon-button fxHide.xs="true">
    <i class="material-icons">
      color_lens
    </i>
  </button> -->
  <button mat-icon-button matTooltip="Change color" [matMenuTriggerFor]="colorlist">
    <i class="material-icons">
      color_lens
    </i>
  </button>

  <mat-menu #colorlist="matMenu" [overlapTrigger]="false">
    <form (keydown.tab)="$event.stopPropagation()">
      <ng-template matMenuContent class="matmenucontent">
        <div>
          <div fxLayout="row" fxLayoutGap="1px" style="margin-top: 1px" *ngFor="let colors of arrayOfColors">
            <div *ngFor="let color of colors">
              <button [ngStyle]="{ 'background-color': color.color }" (click)="setColor(noteId._id,(color.color))"
                matTooltip="{{ color.name }}" mat-mini-fab></button>
            </div>
          </div>
        </div>
      </ng-template>
    </form>
  </mat-menu>
  <button margin="14px" mat-icon-button fxHide.xs="true">
    <i class="material-icons">
      crop_original
    </i>
  </button>
  <button margin="14px" mat-icon-button fxHide.xs="true" (click)="archive(noteId)">
    <i class="material-icons">
      archive
    </i>
  </button>
  <button margin="14px" mat-icon-button fxHide.xs="true" [matMenuTriggerFor]="menu">
    <i class="material-icons">
      more_vert
    </i>
  </button>
</div>
<mat-menu #menu="matMenu" class="menuclass">
  <mat-list-item><button mat-button (click)="delete(noteId)">Delete note</button></mat-list-item>
  <mat-list-item><button mat-button>Add label</button></mat-list-item>
  <mat-list-item><button mat-button>Add drawing</button></mat-list-item>
  <mat-list-item><button mat-button>Make a copy</button></mat-list-item>
  <mat-list-item><button mat-button>Show checkboxes</button></mat-list-item>
</mat-menu>
