<button margin="14px" mat-icon-button fxHide.xs="true">
  <i class="material-icons">
    notifications_paused
  </i>
</button>
<button margin="14px" mat-icon-button fxHide.xs="true">
  <i class="material-icons">
    person_add
  </i>
</button>
<button margin="14px" mat-icon-button fxHide.xs="true">
  <i class="material-icons">
    color_lens
  </i>
</button>
<button margin="14px" mat-icon-button fxHide.xs="true">
  <i class="material-icons">
    crop_original
  </i>
</button>
<button margin="14px" mat-icon-button fxHide.xs="true">
  <i class="material-icons">
    archive
  </i>
</button>
<button margin="14px" mat-icon-button fxHide.xs="true">
  <i class="material-icons">
    more_vert
  </i>
</button>
<button margin="14px" mat-icon-button fxHide.xs="true">
  <i class="material-icons">
    undo
  </i>
</button>
<button margin="14px" mat-icon-button fxHide.xs="true">
  <i class="material-icons">
    redo
  </i>
</button>
