.options {
  width: auto;
  color: rgb(216, 199, 48);

}

.matmenucontent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1 1 100%;
  justify-content: space-around;
}

.imgBtn {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.matt {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
