<div class="divClass">
  <mat-card class="mat-card" *ngFor="let note of archiveNotes" [style.backgroundColor]="note.color">
    <div class="text_break">{{note.title}}
    </div>
    <div class="text_break">
      {{note.description}}</div>
    <mat-card-actions class="icons">
      <div>
        <button margin="14px" mat-icon-button fxHide.xs="true">
          <i class="material-icons">
            notifications_paused
          </i>
        </button>
        <button margin="14px" mat-icon-button fxHide.xs="true">
          <i class="material-icons">
            person_add
          </i>
        </button>
        <button mat-icon-button matTooltip="Change color" [matMenuTriggerFor]="colorlist">
          <i class="material-icons">
            color_lens
          </i>
        </button>

        <mat-menu #colorlist="matMenu" [overlapTrigger]="false" style=" display : flex row wrap">
          <ng-template matMenuContent>
            <div>
              <div fxLayout="row" fxLayoutGap="1px" style="margin-top: 1px" *ngFor="let colors of arrayOfColors">
                <div *ngFor="let color of colors">
                  <button [ngStyle]="{ 'background-color': color.color }" (click)="setColor(note._id,(color.color))"
                    matTooltip="{{ color.name }}" mat-mini-fab></button>

                </div>
              </div>
            </div>
          </ng-template>
        </mat-menu>
        <button margin="14px" mat-icon-button fxHide.xs="true">
          <i class="material-icons">
            crop_original
          </i>
        </button>
        <button margin="14px" mat-icon-button fxHide.xs="true" (click)="unArchive(note._id)">
          <i class="material-icons">
            unarchive
          </i>
        </button>
        <button margin="14px" mat-icon-button fxHide.xs="true" [matMenuTriggerFor]="menu">
          <i class="material-icons">
            more_vert
          </i>
        </button>
      </div>
      <mat-menu #menu="matMenu" class="menuclass">
        <mat-list-item><button mat-button (click)="delete(noteId)">Delete note</button></mat-list-item>
        <mat-list-item><button mat-button>Add label</button></mat-list-item>
        <mat-list-item><button mat-button>Add drawing</button></mat-list-item>
        <mat-list-item><button mat-button>Make a copy</button></mat-list-item>
        <mat-list-item><button mat-button>Show checkboxes</button></mat-list-item>
      </mat-menu>
    </mat-card-actions>
  </mat-card>
</div>
