.mat1 {
  background-color: red;
  height: 10px;
}

.mat2 {
  background-color: blue;
  min-height: 80px;
}

.border {
  background-color: white;
  border-radius: 8px;
  box-shadow: 1px 1px 1px 1px #cec9c9;
  height: 20px;
  width: 400px;
  top: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input {
  width: 88%;
  font-size: 16px;
  background-color: transparent;
  border: 0px solid;
  min-height: 8px;


}

.border1 {
  background-color: white;
  border-radius: 8px;
  box-shadow: 1px 1px 1px 1px #cec9c9;
  width: 400px;
  top: 20px;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
