<!-- <div *ngFor="let note of notes">
<mat-card class="border1">
  <div>
    <mat-card matInput matTextareaAutosize class="input" ng-model="title" required>
    </mat-card>
  </div>
  <div>
    <mat-card p matTextareaAutosize class="input" ng-model="Take a note..." required>
    </mat-card>
    <app-icon></app-icon>
  </div>
</mat-card>
</div> -->

<div class="divClass">
  <mat-card class="mat-card" *ngFor="let note of notes">
    <div class="text_break">{{note.title}}
    </div>
    <div class="text_break">
     {{note.description}}</div>
    <mat-card-actions>
      <app-icon class="icons"></app-icon>
    </mat-card-actions>

  </mat-card>
</div>
