<!-- <div *ngFor="let note of notes">
<mat-card class="border1">
  <div>
    <mat-card matInput matTextareaAutosize class="input" ng-model="title" required>
    </mat-card>
  </div>
  <div>
    <mat-card p matTextareaAutosize class="input" ng-model="Take a note..." required>
    </mat-card>
    <app-icon></app-icon>
  </div>
</mat-card>
</div> -->
<!-- <div *ngIf="gridV" class="divClass"> -->
<div *ngIf='!gridV' class="divClassList">
  <mat-card class="mat-cardList" *ngFor="let note of notes" [style.backgroundColor]="note.color">

    <div (click)="dialog(note)">
      <div class="text_break">{{note.title}}
      </div>
      <div class="text_break">
        {{note.description}}</div>
    </div>
    <div *ngIf="note.collaboratorId">
      <div *ngFor="let email of note.collaboratorId.collaboratorsId">
        <label style="font-size: x-small">{{email}}</label>
      </div>
    </div>
    <mat-card-actions>
      <app-icon class="icons" [noteId]="note" (archiveEvent)="afterArchive($event)" (colorF)="coloring($event)"></app-icon>
    </mat-card-actions>
  </mat-card>
</div>
<div *ngIf='gridV' class="divClassList">
  <mat-card class="mat-card" *ngFor="let note of notes" [style.backgroundColor]="note.color">

    <div (click)="dialog(note)">
      <div class="text_break">{{note.title}}
      </div>
      <div class="text_break">
        {{note.description}}</div>
    </div>
    <div *ngIf="note.collaboratorId">
      <div *ngFor="let email of note.collaboratorId.collaboratorsId">
        <label style="font-size: x-small">{{email}}</label>
      </div>
    </div>
    <mat-card-actions>
      <app-icon class="icons" [noteId]="note" (archiveEvent)="afterArchive($event)" (colorF)="colored($event)" (deleteEv)="deleted($event)"></app-icon>
    </mat-card-actions>
  </mat-card>
</div>
