<mat-toolbar class="toolbar">
  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">
      <mat-icon matSuffix>menu</mat-icon>
    </button>
  </div>
  <span><img src="https://www.gstatic.com/images/branding/product/1x/keep_48dp.png"></span>
  <span>
    <p style="color: rgb(131, 125, 125)">Fundoo</p>
  </span>
  <div fxLayout="row" fxLayoutAlign="center center" fxFlex.xs="40" fxFlex="60" class="search">

    <button margin="14px" mat-icon-button fxHide.xs="true">
      <mat-icon>search</mat-icon>
    </button>
    <input matTooltip="Search" placeholder="Search" class="input" [(ngModel)]="search" (keyup)="lookup()">
    <button margin="14px" mat-icon-button fxHide.xs="true">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <span><button margin="14px" mat-icon-button fxHide.xs="true">
      <i class="material-icons">
        refresh
      </i>
    </button></span>
  <button margin="14px" mat-icon-button fxHide.xs="true">
    <mat-icon>dashboard</mat-icon>
  </button>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <div>
      <img mat-card-avatar src="{{pic}}" class="profile1" /></div>
  </button>
  <div>


    <mat-menu #menu="matMenu">
      <div fxLayout="row" fxFlex="100" fxLayoutAlign="space-between center">
        <mat-card style="overflow: hidden">
          <div class="image-container" style="padding-top: 50%;">
            <img class="topic-avatar" mat-card-avatar src={{pic}}>

          </div>
          <div class="name">{{user.firstName+' '+user.lastName}}</div>
          <div class="email">{{user.email}}</div>
        </mat-card>
      </div>
      <mat-divider></mat-divider>

      <div fxLayout="row" fxFlex="100" fxLayoutAlign="space-around  center">
        <button style="left: 30%" mat-raised-button (click)="logout()">Sign out</button>
      </div>
    </mat-menu>
  </div>
</mat-toolbar>
<mat-drawer-container class="example-container" autosize>
  <div>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <mat-list class="sidebarlist">
        <mat-list-item><button mat-button class="nav-button">
            <i class="material-icons" style="align-self:initial">
              emoji_objects
            </i>Notes</button>
        </mat-list-item>
        <mat-list-item><button mat-button class="nav-button"> <i class="material-icons">
              notifications_none
            </i>Reminders</button> </mat-list-item>
        <mat-divider></mat-divider>
        <h6 style="color: grey">LABELS</h6>
        <mat-list-item><button mat-button class="nav-button"><i class="material-icons">
              edit</i> Edit labels </button></mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <button mat-button class="nav-button">
            <mat-icon matSuffix>archive</mat-icon> Archive
          </button>
        </mat-list-item>
        <mat-list-item>
          <button mat-button class="nav-button">
            <mat-icon matSuffix>delete</mat-icon>Trash
          </button>
        </mat-list-item>
      </mat-list>

    </mat-drawer>
  </div>
  <div>
    <!-- <mat-card class ="border">
        <input placeholder="Take a note..." class="input" (click)=card.toggle()><i class="material-icons">
            check_box
            </i>
        <i class="material-icons" style="margin-left:10px ">
          brush
          </i><i class="material-icons">
              image
              </i>
      </mat-card> -->
  </div>
  <app-notes></app-notes>
  <div *ngFor="let item of Notes; let i = index">
    <app-note-card ></app-note-card>

  </div>
</mat-drawer-container>
