<mat-card>
  <mat-card-title>FUNDOO</mat-card-title>
  <b>Forgot password</b>
  <mat-card-content>
    <form ngSubmit="submit">
      <mat-form-field>
        <input type="text" matInput placeholder="Email" [formControl]="email" name="email" autocomplete="off"  required>
      </mat-form-field>
      <p *ngIf="error" class="error">
        {{ error }}
      </p>
      <div class="button">
        <button type="submit" (click)="forgotPassword()" mat-button>submit</button>
      </div>
      <p ><a routerLink ='/login'>login</a></p>
      <p><a routerLink='/register'>New user? Sign-in here></a></p>
    </form>
  </mat-card-content>
</mat-card>
